*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --dark: #242635;
    --ul-background-color: #e5e5e5;
    --links-hover-color:#f1a600;
    --color: #FFF;
    --nav-background-color: transparent;
}

.page-cover {
    background-image: url('../../assets/img/background_02.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 0;

}

.page-cover__title {
    display: grid;
    grid-template-areas:
        "cover-title cover-title"
        "cover-data cover-data"
        "cover-img cover-img";
    grid-template-columns: 4fr 5fr;
    padding: 1rem 1.5rem;
}

.page-cover__title__h1 {
    grid-area: cover-title;
    width: 100%;
    font-size: 5rem;
}

.page-cover__title__div {
    grid-area: cover-data;
    display: flex;
    flex-flow: column nowrap;
    gap: 3rem;
    width: 100%;
    padding-top: 2rem;
}

.page-cover__title__img {
    grid-area: cover-img;

    width: 100%;
    max-width: 680px;
    min-width: 196.2px;
}

.page-cover__socials {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    align-items: start;
    justify-content: left;
    gap: 2rem;
}

.page-cover__socials {
    justify-content: center;
    gap: 3rem;
}

.page-cover__socials__icon {
    width: 4rem;
}

.highlight {
    color: var(--hight-light);
    font-size: 1.25rem;
}

.show_mobile_nav{
    display: flex !important;
}

.desktop__nav{
    background-color: var(--nav-background-color);
    min-width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.desktop__nav>img{
    height: 1rem;
    width: auto;
}

.desktop__nav>section{
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
}

.desktop__nav>section>input{
    display: none;
}

.desktop__nav>section>label{
    display: none;
    align-items: center;
}

.desktop__nav>section>ul{
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    list-style: none;
}

/* .desktop__nav>section>ul>li{
    padding: 0.5rem 1rem;
} */

.desktop__nav>section>ul>li>a{
    text-decoration: none;
    color: var(--color);
    padding: 0.5rem 1rem;
}

.desktop__nav>section>ul>li>a:hover{
    background-color: var(--links-hover-color);
    color: #fff;
    border-radius: 2rem;
    
}
/*=============================================*/
.mobile__nav{
    background-color: var(--nav-background-color);
    min-width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    position: relative;
}

.mobile__nav>img{
    height: 1rem;
    width: auto;
}

.mobile__nav>section{
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
}

.mobile__nav>section>input{
    display: none;
}

.mobile__nav>section>label{
    display: flex;
    align-items: center;
}

.mobile__nav>section>ul{
    display: none;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    list-style: none;
    background-color: var(--ul-background-color);

    position: absolute;
    top: 4.5rem;
    left: 1rem;
    right: 1rem;
    z-index: 10;
}
.mobile__nav>section>ul::after {
    content: "";
    display: block;
    border-top: 15px solid transparent;
    border-bottom: 15px solid var(--ul-background-color);
    border-right: 15px solid var(--ul-background-color);
    border-left: 15px solid transparent;
    position: absolute;
    right: 0;
    top: -30px;
}

.mobile__nav>section>ul>li{
    padding: 1rem 2rem;
}

.mobile__nav>section>ul>li>a{
    text-decoration: none;
    color: #000;
    padding: 1rem 2rem;
}

.mobile__nav>section>ul>li>a:hover{
    background-color: var(--dark);
    color: #fff;
    border-radius: 2rem;
    
}

@media screen and (min-width: 768px) {
    .page-cover__title {
        grid-template-areas:
            "cover-title cover-title"
            "cover-data cover-img";
    }
}