@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

:root {
    --hight-light: #f1a600;
    --darker: #1f1d2c;
    --dark: #242635;
    --gray: #e5e5e5;
    --white: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: var(--dark);
    color: var(--white);
    transition: .4s;
}

#root{
    display: flex;
    justify-content: center;
}

.App{
    max-width: 1024px;
}

p {
    line-height: 1.5rem;
}

h2 {
    font-size: 32px;
    font-weight: 600;
}

.mobile_title {
    font-size: 50px;
    font-weight: 600;
}

.mobile_subtitle {
    font-size: 32px;
    font-weight: 600;
}

.mobile_subsection {
    font-size: 18px;
    font-weight: 400;
}



.main_containre {
    min-width: 375px;
    max-width: 1440px;
    background-color: var(--dark);
    position: relative;
    margin: 0 auto;
}









/*============================================*/


/*==================================*/
.skills {
    position: relative;
}

.skills::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 62%;
    height: 100%;
    content: '';
    background-color: var(--darker);
}

.skills__h1 {
    text-align: center;
    padding: 1rem;
    position: relative;
    z-index: 5;
}

.skills__table {
    margin: 0 auto;
    position: relative;
    z-index: 5;
}

.skills__table td {
    font-weight: 600;
    padding: 1rem;
}




/*================================================*/
.contact {
    padding: 1rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 3rem;

}

.contact__h2 {
    text-align: center;
    width: 100%;

}

.contact__icon {
    width: 5rem;
}

.contact_cell-data {
    text-align: center;
    padding: 1rem 1.5rem;
}



/*=================================================*/


#btn_top {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: none;
    background-color: var(--gray);
    z-index: 10;
}

#btn_top img {
    width: 1.5rem;
    height: auto;
    position: relative;
    top: 6px;
    left: 8px;
}

#btn_top:hover {
    background-color: var(--hight-light);
    color: var(--white);
}

@media screen and (min-width: 768px) {
    body {
        font-size: 20px;
    }

    p {
        line-height: 1.7rem;
    }

    

    .about__cards {
        justify-content: center;
        gap: 15rem;
    }

    .about__cards__icon {
        width: 100%;
    }

    .about__cards__title {
        font-size: 30px;
    }


}